<div class="container">
    <h1 class="text-warning text-center mt-4 mb-4">
        Liste des produits ({{products.length}})
    </h1>

    <div class="row">
        <div class="col-4">
            <h6 class="text-info text-center">Filtrer par prix</h6>

            <!-- begin price range form  -->
            <form (ngSubmit)="priceFilter(priceSearch)" #priceSearch="ngForm">
                <div class="row">
                    <div class="col-4">
                        <p class="form-group">
                            <input type="number" class="form-control" name="minPrice" placeholder="Min" ngModel>
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="form-group">
                            <input type="number" class="form-control" name="maxPrice" placeholder="Max" ngModel>
                        </p>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Appliquer</button>
                    </div>
                </div>
            </form>
            <!-- end price range form  -->
        </div>

        <!-- begin keyword search form  -->
        <div class="col-4">
            <h6 class="text-info text-center">Chercher par mots-clés</h6>
            <form (ngSubmit)="keywordFilter(keywordSearch)" #keywordSearch="ngForm">
                <div class="row">
                    <div class="col-6">
                        <p class="form-group">
                            <input type="text" class="form-control" name="keyword" placeholder="Mot-clé" ngModel>
                        </p>
                    </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </div>
            </form>


        </div>
        <!-- end keyword search form  -->
    </div>

    <div class="text-center m-4" *ngIf="(products.length==0)">Aucun résultat</div>

    <section class="row">
        <div class="text-center ml-4 mb-4 pl-4 bg-success" *ngIf="show">Le produit est supprimé</div>
        <div class="col-4" *ngFor="let product of products">
            <img src="{{product.image}}" class="card-img-top ">
            <div class="card-body">
                <h5 class="card-title"> {{product.title}} </h5>
                <p class="card-text"> {{product.description}} </p>

                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <a href="#" class="btn btn-primary"> {{product.price}}€/kg </a>
                    </div>
                    <div class="col-4">
                        <i class="fa-solid"
                            [ngClass]="{'text-success fa-thumbs-up': product.available, 'text-danger fa-thumbs-down': !product.available}"
                            (click)="unstock(product.id, product.available)"> </i>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-secondary m-2" (click)="supprimer(product.id)" *ngIf="isAuth">Delete</button>
                    </div>





                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="editProduct(product)" *ngIf="isAuth">
                        Modifier fiche produit
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel"> Modifier fiche produit </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                   <!--  Begin modify product form -->
                                    <form>
                                        <div class="form-group m-4">
                                         <!--  <label>Nom du produit</label> -->
                                          <input type="text" class="form-control" [(ngModel)]="newProd.title" name="title">
                                        </div>
                                    
                                        <div class="form-group m-4">
                                          <!-- <label>Password</label> -->
                                          <input type="text" class="form-control" [(ngModel)]="newProd.description" name="description">
                                        </div>
                                    
                                        <div class="form-group m-4">
                                            <input type="text" class="form-control" [(ngModel)]="newProd.image" name="image">
                                        </div>
                                    
                                        <div class="form-group m-4">
                                            <input type="number" class="form-control" [(ngModel)]="newProd.price" name="price">
                                        </div>
                                    
                                      </form>
                                      <!--  End modify product form -->

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-secondary m-4" data-dismiss="modal" (click)="updateProduct(newProd)">Enregistrer les modifications</button>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </section>
    <!--     <span *ngFor="let page of pages"> 
        <button  class="btn btn-light m-3" (click)="getProductsLimited(page)">{{page}}</button>
    </span>
 -->


</div>