<div class="container">
    <h1 class="text-info mt-4 mb-4 text-center">La boutique</h1>

    <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://www.iledefrance-terredesaveurs.fr/sites/default/files/styles/actu_crop_large/public/upload/img/fraise-n2.jpg?h=f98dffd8&itok=7SCAtRQY" 
            class="img-fluid rounded-start" style="max-height: 250px" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Fraises au sirop de coquelicot</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. 
                  This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional 
                  content. This content is a little bit longer.This is a wider card with supporting text below as a natural 
                  lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">3€/kg</small></p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Fraises au sirop de coquelicot</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. 
                  This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional 
                  content. This content is a little bit longer.This is a wider card with supporting text below as a natural 
                  lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">3€/kg</small></p>
            </div>
          </div>
          <div class="col-md-4">
            <img src="https://www.iledefrance-terredesaveurs.fr/sites/default/files/styles/actu_crop_large/public/upload/img/fraise-n2.jpg?h=f98dffd8&itok=7SCAtRQY" 
            class="img-fluid rounded-start" style="max-height: 250px" alt="...">
          </div>
        </div>
      </div>

</div>